<% @events = @events_deferred.call -%>
<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://earth.google.com/kml/2.2">
  <Document>
  <% for event in @events %>
  <% next unless event.venue && event.venue.latitude && event.venue.longitude %>
  <Placemark>
    <name><%= strip_tags event.title %></name>
    <description><%= cdata_section("#{format_description(event.description)}<p>Venue: #{strip_tags event.venue.title}</p>") %></description>
    <Point>
      <coordinates><%= event.venue.longitude %>,<%= event.venue.latitude %></coordinates>
    </Point>
    <TimeSpan>
      <begin><%= event.start_time.xmlschema %></begin>
      <end><%= event.end_time.nil? ? (event.start_time+1.hours).xmlschema : event.end_time.xmlschema %></end>
    </TimeSpan>
  </Placemark>
  <% end %>
  </Document>
</kml>
